{% extends 'base.html.twig' %}

{% block title %}Printer index{% endblock %}

{% block body %}
<div class="container">
    <div class="row page-header">
        <h1>Printer List</h1>
    </div>


        <table class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th width="10%">Id</th>
                    <th>Name</th>
                    <th width="20%">Ip</th>
                    <th width="20%">SerialNumber</th>
                    <th width="20%">actions</th>
                </tr>
            </thead>
            <tbody>
            {% for printer in printers %}
                <tr>
                    <td>{{ printer.id }}</td>
                    <td>{{ printer.Name }}</td>
                    <td>{{ printer.Ip }}</td>
                    <td>{{ printer.SerialNumber }}</td>
                    <td>
                        <form method="post" action="{{ path('printer_delete', {'id': printer.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
                            <input type="hidden" name="_method" value="DELETE">
                            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ printer.id) }}">
                            <a href="{{ path('printer_show', {'id': printer.id}) }}" class="btn btn-sm btn-light">details</a>
                            <a href="{{ path('printer_edit', {'id': printer.id}) }}" class="btn btn-sm btn-light">edit</a>
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>

                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('printer_bulkadd') }}" class="btn btn-primary">Bulk Add</a>
        <a href="{{ path('printer_new') }}" class="btn btn-light">Create new</a>

</div>
{% endblock %}
