{% for printer in printerList  %}
    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 ">
        <div class="card printercard {{ getCardColor(printer) }}">
            <div class="card-body">
                <h5><a href="{{ path('dashboard_details', {'id': printer.id }) }}" class="link-unstyled"> <i class="fas fa-print"></i> {{ printer.name }}</a></h5>
                <table class="table ts">
                    <tr>
                        <th>{% trans %}Type{% endtrans %}</th>
                        <td>{{ printer.type }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Serial{% endtrans %}</th>
                        <td>{{ printer.serialNumber }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Location{% endtrans %}</th>
                        <td>{{ printer.location }}</td>
                    </tr>
                    <tr>
                        <th>{% trans %}Toner{% endtrans %}</th>
                        <td style="vertical-align: middle; height: 40px;">
                            <div class="progress" style="height: 6px;">
                                <div class="progress-bar bg-black" role="progressbar" style="width: {{ printer.tonerblack }}%" aria-valuenow="{{ printer.tonerblack }}" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                            {% if printer.iscolorprinter %}
                                <div class="progress" style="height: 6px; margin-top: 3px;">
                                    <div class="progress-bar bg-yellow" role="progressbar" style="width: {{ printer.toneryellow }}%" aria-valuenow="{{ printer.tonerblack }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress" style="height: 6px; margin-top: 3px;">
                                    <div class="progress-bar bg-magenta" role="progressbar" style="width: {{ printer.tonermagenta }}%" aria-valuenow="{{ printer.tonerblack }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <div class="progress" style="height: 6px; margin-top: 3px;">
                                    <div class="progress-bar bg-cyan" role="progressbar" style="width: {{ printer.tonercyan }}%" aria-valuenow="{{ printer.tonerblack }}" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <small>{% trans with {'%date%': printer.lastcheck|date("d.m.Y H:i:s") } %}last check: %date%{% endtrans %}</small>
            </div>
        </div>
    </div>
{% endfor %}